{% extends "base.html" %}

{% load static %}

{% block content %}
<h2>Super Admins</h2>
<hr>

<table class="table table-bordered table-light table-hover text-center align-middle">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
    {% for super_admin in super_admins %}
    <tr>
        <th class="counter"></th>
        {% if super_admin.id == user.id %}
            <td>*{{super_admin.username}}</td>
        {% else %}
            <td>{{super_admin.username}}</td>
        {% endif %}
        <td>{{super_admin.email}}</td>
        <td>{{super_admin.gender}}</td>
        <td style="display:flex;">
            <form action="/myapp/update-super-admin-form/" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-outline-warning" name="update_id" value="{{ super_admin.id }}">Update</button>
            </form>
            {% if super_admin.id == user.id %}
            <form action="/myapp/delete-super-admin/" method="post">{% csrf_token %}
                <button type="submit" disabled class="btn btn-outline-danger ms-2" name="delete_id" value="{{ super_admin.id }}">Delete</button>
            </form>
            {% else %}
            <form action="/myapp/delete-super-admin/" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-outline-danger ms-2" name="delete_id" value="{{ super_admin.id }}">Delete</button>
            </form>
            {% endif %}
            
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/myapp/create-super-admin" class="btn btn-success mt-2">Create New Super Admin</a>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'table_counter.js' %}"></script>
{% endblock scripts %}